// --- Brand colors --- //
$brand-bg: #222;
$brand-dark: #263248;
$brand-text: #efefef;
$brand-shadow: #7e8aa2;

// --- Spacing & Grid --- ///
$gutter: 1rem;

// --- Borders and Shadows --- //
$basic-border: 0.2rem solid $brand-shadow;

// --- Typography --- ///
$brand-sans: Lato, sans-serif;
