@import 'ember-paper';
@import 'vars';

@import 'base';
@import 'screen';
@import 'components/top-nav';

.lesson-current-time {
  display: flex;
  justify-content: space-between;

  .liquid-container {
    display: inline-block;
    vertical-align: top;
  }

  .liquid-child {
    text-align: center;
  }
}

.lesson-block {
  display: flex;
  justify-content: space-between;
}

.handle {
  cursor: pointer;
}

md-list-item.md-2-line .md-list-item-text {
  margin: 0;

  h3, p {
    padding: 1.5rem 0;
  }
}
