@import 'ember-paper';
@import 'vars';

@import 'base';
@import 'screen';
@import 'components/top-nav';

.lesson-current-time {
  display: flex;
  justify-content: space-between;

  .liquid-container {
    display: inline-block;
    vertical-align: top;
  }

  .liquid-child {
    text-align: center;
  }
}

.new-block {
  md-input-container {
    margin: 0;
  }
}
