$brand-text-shadow: 0 1px 2px $brand-bg, 0 1px 0 $brand-bg;

.top-nav {
  position: relative;

  margin-bottom: 0 $gutter;
  padding: 0 $gutter;
  border-bottom: $basic-border;

  background: $brand-dark;
  color: $brand-text;

  font-family: $brand-sans;
}

.top-nav__list {
  display: flex;

  height: 70px;

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;

    list-style: none;
  }
}

.top-nav__brand {
  flex-grow: 1;

  margin: 0;

  font-size: 2rem;
  font-weight: 500;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.top-nav__link {
  padding: 0 20px;

  color: inherit;

  font-size: 1.625rem;
  font-weight: 300;
  text-decoration: none;

  text-shadow: $brand-text-shadow;

  &:last-of-type {
    padding-right: 0;
  }
}

.top-nav__mobile-bar {
  display: none;
  position: relative;
  height: 70px;
}

.top-nav__toggle {
  border: 0;
  background: none;
  color: inherit;
  font-size: 1.5rem;

  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.top-nav__mobile-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;

  transform: translate(-50%, -50%);

  font-size: 2.5rem;
  font-weight: 700;

  a {
    position: relative;
    bottom: 0.25rem;

    color: inherit;
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .top-nav__mobile-bar {
    display: flex;
  }

  .top-nav__list {
    display: block;

    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    height: inherit;
    max-height: 0;

    transition: max-height 1s, padding 1s;

    background: lighten($brand-bg, 10%);

    overflow: auto;
    z-index: 1;

    li {
      display: block;
    }

    .top-nav__brand {
      display: none;
    }
  }

  .active .top-nav__list {
    max-height: 7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
